<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @formulario.title %>
</p>

<p>
  <b>Description:</b>
  <%= @formulario.description %>
</p>

<p>
  <b>Arguments:</b>
  <%= @formulario.arguments %>
</p>

<%= link_to 'Edit', edit_formulario_path(@formulario) %> |
<%= link_to 'Back', derecho_path(:id =>
@formulario.derecho_id ) %>
