<h3>
  <%= @formulario.title %>
</h3>

<p class="desc">
  <%= @formulario.description %>
</p>

<div class="arguments">
	<%=	raw @formulario.arguments %>
</div>

<%= link_to 'Edit', edit_formulario_path(@formulario) %> |
<%= link_to 'Back', derecho_path(:id =>
@formulario.derecho_id ) %>
