<h2>Tipos de derechos fundamentales</h2>

<% if admin %>
	<%= link_to 'New Tipo', new_tipo_path %>
<% end %>

<br />

<ul>
	<% @tipos.each do |tipo| %>
		<li>
			<span>
				<h3><%= tipo.title %></h3>
				<% if admin %>
					<%= link_to 'Edit', edit_tipo_path(tipo) %>
					<%= link_to 'Destroy', tipo, :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
			</span>
			<p class="desc"><i><%= tipo.description %></i></p>
			<ul>
				<% tipo.derechos.each do |derecho| %>
					<li> <%= link_to derecho.title, derecho_path(:id =>
derecho.id) %> </li>
				<% end %>
				<li>
					<%= link_to '... new derecho', new_derecho_path(:id =>
tipo.id) %> 
			</ul>
		</li>
	<% end %>
</ul>

<br />

