<h2>Welcome on facil</h2>
This is a nice website for your rights... or something like that, I'm
not sur I well understand the matter... nblalablabzdabzduioaho afoahofaf
aofhao of aofha afaozfh aofaflmkvpsodi  pzfopcp zpfoz. 
<br/>
<div id="go">
	

	<h3>Log in</h3>
		<%= form_tag sessions_path do %>
				<%= label_tag :email %>
				<%= text_field_tag :email, params[:email] %>
				<%= label_tag :password %>
				<%= password_field_tag :password %>
			<%= submit_tag "ok" %>
		<% end %>
	<h3>or</h3>
	<h3><%= link_to "Create an account", new_user_path %>  </h3>

</div>
