<h2>Welcome on Fácil</h2>
<p>
This is a nice website for your rights... or something like that, I'm
not sur I well understand the matter... nblalablabzdabzduioaho afoahofaf
aofhao of aofha afaozfh aofaflmkvpsodi  pzfopcp zpfoz. 
llam voluptatum consequatur nihil fuga mollitia
numquam expedita eos et. Libero nesciunt animi eum
tenetur beatae voluptatibus sed porro modi illo
nulla cum perspiciatis commodi sed. Est autem
aperiam quas molestiae sequi expedita omnis nesciunt
voluptates deserunt nisi voluptatem tempore et
placeat placeat vel illum. Aliquid saepe ea sint qui
inventore voluptatem qui dicta hic voluptate sunt
</p>
<div id="go">
	
	<div class="half" id="log-in">
		<%= form_tag sessions_path do %>
			<%= label_tag :email %>
			<br />
			<%= text_field_tag :email, params[:email] %>
			<br />
			<%= label_tag :password %>
			<br />
			<%= password_field_tag :password %>
			<br />
			<%= submit_tag "Log in !" %>
		<% end %>
	</div>
	<div class="half" >
		<br/>
		<h3><%= link_to "Create an account", new_user_path %>  </h3>
	</div>
</div>
