<h2><%= @derecho.title %></h2>
<% if admin %>
	<%= link_to "Edit", edit_derecho_path(:id => @derecho.id)%>
	 | 
	<%= link_to "Add formulario", new_formulario_path(:id => @derecho.id)%>
	 | 
	<%= link_to "Destroy", tipos_path %> 
<% end %>
	
<ul>
	<% @derecho.formularios.each do |formulario|
	%>
		<li> 
			<h3>
				<%if admin %>
					<%= formulario.title %>
				<%else %>
					<%= link_to formulario.title, create_accion_path(formulario), :confirm => 'Do you really want to create a new accion de tutela ?' %> 
				<%end%>
			</h3>
			<p class="desc"><%= formulario.description %></p>
			
			<% if admin%>
				<%= link_to 'Show', formulario %> | 
				<%= link_to 'Generate', generatex_path(:id => formulario.id) %> | 
				<%= link_to 'Edit', edit_formulario_path(formulario)
%> | 
				<%= link_to 'Destroy', formulario, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>			
		</li>
	<%end%>
</ul>
