<h2>Sus acciónes de tutela</h2>

<% if @accions.count == 0  %>
	no accions
<% else %>
	<ul>
	<% @accions.each do |accion| %>
		<li>
			<%= link_to accion.formulario.title, accion %>
    	<i>(<%= accion.updated_at.strftime("%Y-%m-%d") %>)</i>
		</li>
	<% end %>
	</ul>

<!--
<table>
  <tr>
    <th>Hechos</th>
    <th>User</th>
    <th>Formulario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accions.each do |accion| %>
  <tr>
    <td><%= accion.hechos %></td>
    <td><%= accion.user %></td>
    <td><%= accion.formulario.title %></td>
    <td><%= link_to 'Show', accion %></td>
    <td><%= link_to 'Edit', edit_accion_path(accion) %></td>
    <td><%= link_to 'Destroy', accion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

-->
<br />
<% end %>
